@page "/"

<h1>Welcome to Star Lanes!</h1>

<div class="foo">
    <p>Star Lanes is a classic game from the early PC days, which, like many early games,
    was written, rewritten (sometimes renamed), and widely distributed on many systems.</p>
<p>I think I first played in on a Kaypro II with the Star Lanes name, though earlier versions appear to have
    existing under a Star Traders branding.</p>
        </div>

