@page "/"

<h1>Welcome to Star Lanes!</h1>

<div class="main-page">
    <p>THE GAME OF INTERSTELLAR TRADING</p>
    <p>
        The object of STAR LANES is to amass the greatest amount of net worth through stock holdings and cash.<br />
        This is accomplished by establishing vast, interstellar shipping lanes, and purchasing stock in the<br />
        companies that control those trade routes. <br />
    </p>

    <p>WebAssembly Version @(System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString())</p>

    <Instructions />
@*
    <button type="button" class="btn btn-primary"
            onclick="exampleJsFunctions.returnArrayAsyncJs()">
        Trigger .NET static method ReturnArrayAsync
    </button>
*@
</div>


@code {

    }



