@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import 'StarLanesStyle.css';

@font-face {
    font-family: "DEC Terminal Modern";
    src: url('fonts/_decterm.ttf')
         format('truetype');
}

:root {
    --main-color: green; /* text, etc */
    --main-highlight-color: lime; /* highlighted text, emphasis on last move, etc */
    --backcolor: black; /* background for most of screen */
    --alt-highlight-color: darkgreen; /* alternative highlighting -- maybe white? */
    --alt-backcolor: dimgray; /* backcolor for things that need to standout from black */
    --move-color: black;
    --move-backcolor: green;
    --move-color-highlight: black;
    --move-backcolor-highlight: lime;
}

html, body {
  font-family: 'DEC Terminal Modern', Courier New, Courier, monospace;
  background-color: black;
  color: var(--main-color);
  font-size: 1.0em;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: var(--backcolor);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    color: var(--main-highlight-color);
    background-color: var(--main-color);
    border-color: var(--main-highlight-color);
}

.btn-outline-secondary {
    color: var(--main-color);
    background-color: var(--backcolor);
    border-color: var(--main-color);
    outline: none;
}

.btn-outline-secondary:hover {
    color: var(--main-highlight-color);
    background-color: var(--backcolor);
    border-color: var(--main-highlight-color);
    outline: none;
}

.btn-secondary {
    color: var(--backcolor);
    background: var(--main-color);
    outline: var(--main-color);
}

.btn-secondary:focus {
    color: var(--main-highlight-color);
    outline: var(--main-highlight-color);
}

input {
    color: var(--main-color);
    background-color: var(--backcolor);
    border-color: var(--main-color);
}

input:focus {
    outline-color: var(--main-highlight-color);
    outline: solid 2px;
}



input[type=radio] {
    color: var(--main-color);
    background-color: var(--backcolor);
    border-color: var(--main-color);
    font-size: 2em;
}

.status-grid-player-box {
    border-color: var(--main-color);
}

.status-grid-player-box-active {
    border-color: var(--main-highlight-color);
}


.event-panel-event-recent {
    background-color: var(--backcolor);
    font-weight: 700;
}


