@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import 'StarLanesStyle.css';

@font-face {
    font-family: "DEC Terminal Modern";
    src: url('fonts/_decterm.ttf')
         format('truetype');
}

:root {
    --main-color: green; /* text, etc */
    --main-highlight-color: lime; /* highlighted text, emphasis on last move, etc */
    --backcolor: black; /* background for most of screen */
    --alt-highlight-color: darkgreen; /* alternative highlighting -- maybe white? */
    --alt-backcolor: dimgray; /* backcolor for things that need to standout from black */
    --move-color: black;
    --move-backcolor: green;
    --move-color-highlight: black;
    --move-backcolor-highlight: lime;
}

html, body {
  font-family: 'DEC Terminal Modern', Courier New, Courier, monospace;
  background-color: black;
  color: var(--main-color);
  font-size: 1.0em;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: var(--backcolor);
    background-color: var(--main-color);
    border-color: #1861ac;
}


