.game {
    font-size: 1.0rem;
}

@media (max-width: 768px) {
    .game {
        font-size: 0.9rem;
    }
}


.game-title {
    height: auto;
    margin-right: 50px;
}

.game-header-panel {
    display: flex;
    justify-content:flex-start;
}

.header-round {
    font-weight: 800;
    font-size: 125%
}

@keyframes last-move-highlight {
    0% {
        background-color: white;
    }

    25% {
        background-color: gray;
    }

    50% {
        background-color: black;
    }

    75% {
        background-color: lightgray;
    }

    100% {
        background-color: white;
    }
}

@keyframes shrink-unchosen-move {
    0% { transform: scale(1.0); }
    100% {transform: scale(0.1); }
}

@keyframes fade-move {
    0% { opacity: 1; }
    100% { opacity: 0 }
}

@keyframes big-ping {
    0% {
        transform: scale(1);
        background-color: blue;
        border-radius: 100%;
    }

    50% {
        background-color: cornflowerblue;
    }

    75% { transform: scale(2.0);
          background-color: lightgray;
    }

    100% {
        transform: scale(1.0);
        background-color: var(--backcolor);
        border-radius: 100%;
        color: var(--main-color);
    }
}

.container {
    padding: 2px 16px;
}

.panel-map-and-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-actions {
    border: none;
    border-width: 1px;
    height: auto;
    width: 400px;
    align-content: center;
    float: left;
    margin: 10px 20px 10px 20px;
}

.player-moves-panel {
    text-align: center;
}

.move-button {
    color: var(--main-color);
    background-color: var(--backcolor);
    border-color: var(--main-color);
}

.move-button:hover {
    color: var(--backcolor);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.bold-small-header {
    font-weight: 700;
}

.player-actions-buysellstock {
    width: 100%
}

.stock-to-buy-box {
    float: left;
    width: 100%;
    margin: 0px 5px;
}

.stock-buying {
}

.stock-buying-max-button {
    color: var(--backcolor);
    background: var(--main-color);
}

.btn-group-xs > .btn, .btn-xs {
    padding: .4em .4em;
    font-size: .75em;
    line-height: .5;
    border-radius: .2em;
    height: 1.25em;
}

.map-panel {
    display: flex;
    flex-direction: column;
    min-width: 187.5px;
    align-content: center;
    text-align: center;
    height: auto;
}

.map {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: auto;
    height: auto;
    width: auto;
}

.map-font-normal {

}

.map-font-small {
    font-size: 0.9em;
}

.map-title {
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: var(--main-color);
    color: var(--backcolor);
}

.map-axis {
    font-weight: 700;
}

.map-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.map-sector {
    width: 1.75em; /* 30px; */
    padding: 0px 0px 0px 0px;
 /*   float: left; */
/*    clear: none; */
}

.map-sector-blackhole {
}

.map-sector-company {
}

.map-sector-developed {
}

.map-sector-empty {
}

.map-sector-consumed {
}

.map-sector-move {
    font-weight: 700;
    border-radius: 50%;
    background-color: var(--move-backcolor);
    color: var(--move-color);
}

.map-sector-move:hover {
    font-weight: 700;
    border-radius: 50%;
    background-color: var(--move-backcolor-highlight);
    color: var(--move-color-highlight);
}

.map-sector-star {
    color: darkgoldenrod;
    font-weight: 600;
}

.map-last-move {
    font-weight: 700;
    animation-name: big-ping;
    animation-duration: 1s;
}

.map-unchosen-move {
    animation-name: fade-move;
    animation-duration: .5s;
}

.event-panel {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 30em;
    min-width: 33%;
    height: 100%
    margin: 5px 15px 5px 15px;
}

.event-panel-title {
    text-align: center;
    margin: 0 0 0 0;
    background-color: var(--main-color);
    color: var(--backcolor);
}

.event-panel-event {
    display: flex;
    flex-direction: column;
    font-size: small;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
 /*   border-bottom: dashed 1px gray; */
}

.event-panel-event-header {
    margin: 0 0 0 0;
    font-size: 1.1em;
}

.event-panel-event-recent {
    font-weight: 600;
    background-color: var(--alt-backcolor);
}

.tiny-divider {
    height: 0px;
    width: 100%;
    border-bottom:solid 1px gray;
    align-self: center;
}



.stock-buying-company-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-content: center;
}

.stock-buying-panel-condensed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    width: 40em;
}

.stock-buying-company-box-vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 4em;
}

.stock-buying-company-name {
    width: 10em;
    margin: 3px 0px 0px 0px;
}

.stock-buying-controls-vertical {
    width: 4em;
}

.stock-buying-controls {
    width: auto;
}

.stock-buying-share-value {
    width: 6em;
    text-align:right;
    vertical-align: middle;
    margin: unset;
}

.stock-buying-share-value-vertical {
    width: 4em;
    text-align: center;
    vertical-align: middle;
    margin: unset;
}

.stock-input {
    color: var(--main-color);
    background: var(--backcolor);
}

.player-status-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: outset;
    border-width: 2px;
    padding: 2px 8px;
    min-height: 150px;
    max-height: 225px;
    width: 200px;
    float: left;
    position: relative;
}

.player-status-box-active {
    border-color: var(--alt-active-backcolor);
}

.player-status-box-name {
    width: 100%;
    text-align: center;
    font-size: medium;
    font-weight: 700;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}

.player-status-box-name-active {
    font-weight: 700;
}

.player-status-box-networth {
    text-align: left;
}

.player-status-panel {
    float: none;
}

.company-status-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.company-status-grid {
    font-size: .9em;
    display: flex;
    flex-direction: column;
    width: auto;
}

.buy-stocks-header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    width: auto;
    background-color: var(--backcolor);
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
}

.company-status-grid-row-header
{
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    width: auto;
}

.company-status-grid-row {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.company-status-grid-company-name {
    font-weight: 700;
    text-align: left;
    width: 10em;
}

.company-status-grid-attribute-company-name {
    width: 10em;
    text-align: left;
    border-bottom: solid 1px var(--main-color)
}

.company-status-grid-attribute-name-value {
    width: 8em;
    text-align: center;
    border-bottom: solid 1px var(--main-color);
}

.company-status-grid-attribute-name {
    width: 6em;
    text-align: center;
    border-bottom: solid 1px var(--main-color)
}

.company-status-grid-attribute-player-name {
    width: 8em;
    text-align: center;
    border-bottom: solid 1px var(--main-color) padding: 0px .5em;
}

.company-status-grid-data-cell-value {
    width: 8em;
    text-align: right;
    box-sizing: border-box;
    padding: 0px 1em;
}

.company-status-grid-data-cell {
    width: 6em;
    text-align: right;
    box-sizing: border-box;
    padding: 0px 1em;
}

.company-status-grid-player-data-cell {
    width: 8em;
    text-align: right;
    box-sizing: border-box;
    padding: 0px 2.5em;
}


.company-status-key {
    border: thin;
    border-width: 2px;
    height: 150px;
    width: 180px;
    padding: 10px 2px;
    float: left;
    font-size: smaller;
}

.company-status-box {
    border: thin;
    border-width: 2px;
    padding: 10px 2px;
    height: 125px;
    width: 100px;
    float: left;
    font-size: smaller;
}

.company-status-box-name {
    height: 45px;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

.company-status-box-sharevalue {
}

.company-status-box-sharesoutstanding {
}

.player-status-box-size {
}

.status-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status-grid-header {
    font-weight: 700;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    text-align: center;

}

.status-grid-data-header {
    text-align: left;
    font-weight: 700;
}

.status-grid-data-header-column {
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    float: left;
    border-width: 2px;
    padding: 4px 2px;
}

.status-grid-data-player-row-header {
    font-weight: 700;
    text-align: right;
}

.status-grid-data-company-row-header {

}

.status-grid-data-header-spacer {
    border-bottom-width: 2px;
    border-bottom-color: var(--main-color);
    border-bottom-style: dashed;
}

.status-grid-player-panel {
    width: 175px;
    float: left;
}

.status-grid-company-attribute-panel {
    width: 90px;
    float: left;
}
.status-grid-company-attribute-box {
    width: 100%;
    float: left;
/*    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.0);
    border: outset; */
    border-width: 2px;
    border-color: var(--main-color);
    margin: 4px;
}

.status-grid-player-box {
    width: 100%;
    float: left;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border: outset;
    border-width: 2px;
    padding: 2px 8px;
}

.status-grid-player-box-active {
    border-color: var(--alt-active-backcolor);
}

.status-grid-player-name-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
}

.status-grid-player-name {
    font-weight: 700;
    text-align: center;
}

.status-grid-player-icon {
    height: auto;
}

.status-grid-data-cell {
    text-align: right;
}

.status-grid-company-attribute-name {
    font-weight: 700;
    border-bottom-style: none;
    border-bottom-width: 2px;
    text-align: center;
}

.status-grid-stock-box {
    width: 100%;
    float: left;
/*    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);*/
/*    border: outset; */
    border-width: 2px;
    padding: 2px 8px;
}

.status-grid-stocklisting-panel {
    width: 175px;
    float: left;
    border: outset;
    border-width: 2px;
    border-color: var(--main-color);
    padding: 2px 8px;
}

.medal {
    width: auto;
    height: 1.4rem;
/*    border-radius: 50%; */
    text-align: center;
    line-height: 1.2rem;
    font-weight: 500;
    border: solid 1px var(--main-color);
}

/*
.rank-1 {
    background: #f4d367;
    border: solid 2px #d4af37;
}

.rank-2 {
    background: #d0d0d0;
    border: solid 2px #a8a8a8;
}

.rank-3 {
    background: #CD7F32;
    border: solid 2px #A46628;
}

.rank-4 {
    background: #9D8F3A;
    border: solid 2px #b0b0b0;
}

.rank-5 {
    background: #302820;
    border: solid 2px #302820;
}
    */