.foo {
    color: green;
}

.header-round {
    font-weight: 800;
    font-size: large;
}

.container {
    padding: 2px 16px;
}

.player-actions {
    border: none;
    border-width: 1px;
    height: 500px;
    width: 400px;
    align-content:center;
    float: left;
}

.player-moves-panel {
    text-align:center;
}

.bold-small-header {
    font-weight: 700;
}

.player-actions-buysellstock {
    font-size: medium;
    width: 100%
}

.stock-to-buy-box {
    float:left;
    width: 100%
    margin: 0px 5px;
}

.stock-buying {

}

.btn-group-xs > .btn, .btn-xs {
    padding: .4rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.map-panel {
    width: 600px;
    align-content:center;
    text-align:center;
}

.map {
    text-align: center;
    margin: auto;
}

.map-title {
    margin: auto;
    text-align: center;
}

.map-axis {
    font-weight: 700;
}

.map-sectors {
    margin: auto;
    text-align: center;
}

.map-sector {
    padding: 0px 9px;
    font-size: medium;
    float: left;
    clear: none;
}

.map-sector-blackhole {
   
}

.map-sector-company {

}

.map-sector-developed {

}

.map-sector-empty {

}

.map-sector-move {
    font-weight: 700;
}

.map-sector-star {
    color: darkgoldenrod;
    font-weight: 600;
}

.event-panel {
    display: flex;
    width: 300px;
    height: 75px;
    margin: 15px 15px 15px 15px;
}

.event-panel-title {
    border-right-width:2px;
    border-right-style:dashed;
    text-align:left;
    margin: 0 0 0 0;
}

.event-panel-readout {
/*    flex-grow: 1; */
    font-size: small;
    height: 100%
}

.player-status-box {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border:outset;
    border-width: 2px;
    height: 150px;
    width: 200px;
    float: left;
    font-family: Courier New, Courier, monospace;
    position: relative;
}

.player-status-box-active {
    border-color: blue;
}

.player-status-box-name {
    text-align:center;
    font-size:medium;
    font-weight: 700;
    border-bottom-style:dashed;
    border-bottom-width: 2px;
}

.player-status-box-name-active {
    font-weight: 700;
}

.player-status-box-networth {
    text-align:left;
}

.player-status-panel {
    float:none;
}

.company-status-panel {
    float: none;
}

.company-status-key {
    border: thin;
    border-width: 2px;
    height: 150px;
    width: 200px;
    float: left;
    font-family: Courier New, Courier, monospace;
    font-size: smaller;
}

.company-status-box {
    border: thin;
    border-width: 2px;
    height: 150px;
    width: 150px;
    float: left;
    font-family: Courier New, Courier, monospace;
    font-size: smaller;
}

.company-status-box-name {
    height: 45px;
    border-bottom-style:dashed;
    border-bottom-width:thin;
}

.company-status-box-sharevalue {

}

.company-status-box-sharesoutstanding {

}

.player-status-box-size {

}


