@* Leftmost box is column names *@
<div class="company-status-key">
    <div class="company-status-box-name">
        Company:
    </div>
    <div class="company-status-box-sharevalue">
        Share Value($):
    </div>
    <div class="company-status-box-sharesoutstanding">
        Outstanding Shares:
    </div>
    <div class="player-status-box-size">
        # of Sectors:
    </div>
</div>

@code {

}
