<h3>How to Play</h3>

<div id="instructions">

        <p><b>Star Lanes is a game of interstellar trading.</b></p>
        <p>The object of the game is to amass the greatest amount of net worth through stock holdings and cash.
        This is accomplished by establishing vast, interstellar shipping lanes, and purchasing stock in the companies that control those trade routes.
        Stock appreciates in value as the shipping companies become larger. Also, smaller companies can be merged into larger ones,
        and stock in the smaller firm is converted into stock in the larger one as described below.</p>

        <p>Each turn, the player will be presented with prospective sectors to develop on the matrix map of the galaxy.
        The player decides which sector to develop, which will result in five potential different outcomes:</p>
        
        <ul>
            <li><b>A new outpost:</b> a space that is not adjacent to a star, another unattached outpost, or an existing shipping lane will create a new outpost, designated with a '+'.</li>

            <li><b>Expand an existing trade lane:</b> if the space selected is next to one (and just one) existing trading  company, 
        the space will be added to that shipping lane and will be designated with the first letter of the company that owns that lane. 
        If there are any stars or unattached outposts also adjacent to the selected space, they, too, will be incorporated into the 
        existing company’s shipping lanes.  Each new square increases the market value of the stock of that company.</li>

        <li><b>Establish a new shipping company:</b> Developing a space adjacent to a star or another unattached outpost (but not adjacent 
        to an existing company owned shipping lane) will create a new shipping company. The player is automatically awarded shares 
        in the new company.</li>

        <li><b>Merge existing companies:</b> If the player selects a space adjacent to two or more existing shipping
        company lanes, a merger occurs!<br/>
        The larger company takes over the smaller company (or companies). If two companies are the 
        same size prior to the merger, then the survivor is determined by alphabetical order of the two company names (example: A survives over B, B survives over C).
        The stock of the surviving company is increased in value according to the number of spaces and stars added to its lane.
        Each players stock in the defunct company is exchanged for shares in the survivor.  Also, each player
        is paid a cash bonus proportional to the percentage of outstanding stock he held in the defunct company.
        Note: after a company becomes defunct through the merger process, it can reappear elsewhere on the
        board when, and if, a new company is established.</li>

        <li><b>Consumed/Impaired/Bankrupted by Blackhole (optional):</b> In games with destructive blackholes enabled, any company that expands to become 
        adjacent to a blackhole will be consumed by the blackhole and will be removed from the map. In games with non-destructive blackholes, the company 
        will instead by impaired by the blackhole and the company’s stock value will be lowered. If the value of the company drops to zero, the company 
        will go bankrupt and be dissolved.</li>
            </ul>

        <p>After the player has chosen a map sector to develop, the player will receive stock dividends and have an opportunity to purchase stock in any of 
        the active companies on the board. Stock may not be sold, but the market value of each player's stock is contributes to their net worth at the 
        end of the game to determine the winner.</p>

        <p>If the market value of a given stock exceeds the “Stock Split Threshold” ($3000 default setting) at any time during the game, that stock 
        splits (2 for 1 default setting).  The price is proportionately decreased and the number of shares owned by each player is proportionately increased.</p>

        <p>The player with the greatest net worth at the end of the game is the winner.</p>
</div>

@code {

}
