@inject IJSRuntime JSRuntime;

<div class="top-row pl-4 navbar navbar-dark pr-4" id="topnavbar">
    <a class="navbar-brand" href="">StarLanes</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav">
            @*
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
            *@
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="StarLanesGame">
                    <span class="oi oi-plus" aria-hidden="true"></span> Play Star Lanes
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <button class="nav-link" id="switchCSS" @onclick="DoSwitchCSS" style="background-color: rgba(255,255,255,0.1); color: rgba(255,255,255,0.8); border: none;">
                    Toggle Style
                </button>
            </li>
            @*
            <li class="nav-item px-3">
                <button class="nav-link" id="switchFontSize" @onclick="SetFontSize">
                    Shrink Font Size
                </button>
            </li>
                *@

        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private string result;

    public async void DoSwitchCSS()
    {
        await JSRuntime.InvokeVoidAsync("switchCSS");
        //StateHasChanged();
    }

    public async void SetFontSize()
    {
        await JSRuntime.InvokeVoidAsync("setBaseFont", "10px");
    }
}
